*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

.layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs__tab_active {
}
